.center {
	display: table;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.pointer {
	cursor: pointer;
}

.title {
/* 	font-family: CoAuthorTitle; */
	font-family: Times New Roman;
	font-style: italic;
	font-size: xx-large;
}

@font-face {
	font-family: 'CoAuthorTitle';
/* 	src: url('Dion.ttf') format('truetype'); */
}

.input-box {
	width: 900px;
}

.input-group-addon {
	width: 100px;
}