.center {
	display: table;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.pointer {
	cursor: pointer;
}

.title { /* 	font-family: CoAuthorTitle; */
	font-family: Times New Roman;
	font-style: italic;
	font-size: xx-large;
}

@font-face {
	font-family: 'CoAuthorTitle';
	/* 	src: url('Dion.ttf') format('truetype'); */
}

.input-entry[class*="input-entry"] {
	width: 500px;
}

.modal-content {
	background-color: rgba(255, 255, 255, 255);
}

.char-remaining {
	font-size: small;
	font-style: italic;
	float: right;
	display: block;
}

.char-required {
    font-size: small;
    font-style: italic;
    color: red;
    float: left;
    display: block;
}

.no-border {
	border: 0;
}

.underscore {
	border-bottom: 1px solid #e9e9e9;
}

.panel {
	padding: 10px;
}

.story-body {
	word-wrap: break-word;
}

#topNav.affix {
	position: fixed;
	top: 0;
	z-index: 9999;
}

.story-list {
	border: 0;
}

body {
	padding-top: 60px;
	background-color: #F8F8F8;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear {
	clear: both;
}

.list-group-item:hover {
	background-color: #F8F8F8;
}

.filter-item:hover {
	background-color: #F8F8F8;
	cursor: pointer;
}

.filter-item {
	margin: 0;
}

.story-filter-toggle { /* 	font-family: CoAuthorTitle; */
    padding-left: 15px;
} 

.dropdown-menu {
	min-width: 0px;
}

.panel-group {
	margin-bottom: 5px;
}

.filter-row {
	margin-bottom: 5px;
}

.no-padding {
	padding: 0;
}

.col-md-6 {
	padding: 0;
}

.co-nav {
	position: fixed;
	width: 270px;
}

.container {
	width: 1200px;
}

.spinner {
  margin: 100px auto;
  width: 20px;
  height: 20px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.entry {
	cursor: default;
}

.entry:hover {
    font-weight: bold;	
}

.tooltips {
	z-index: 2000 !important;
}

.pad-left {
	padding-left: 10px;
}

.entry-contender {
    font-style: italic;
    font-weight: bold;	
}