.center {
	display: table;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.pointer {
	cursor: pointer;
}

.title { /* 	font-family: CoAuthorTitle; */
	font-family: Times New Roman;
	font-style: italic;
	font-size: xx-large;
}

@font-face {
	font-family: 'CoAuthorTitle';
	/* 	src: url('Dion.ttf') format('truetype'); */
}

.input-title[class*="input-title"] {
	width: 400px;
}

.input-entry[class*="input-entry"] {
	width: 500px;
}

.input-entry[class*="input-entry"],.input-title[class*="input-title"] {
	border: 0;
}

.modal-content {
	background-color: rgba(255, 255, 255, 255);
}

.char-remaining {
	font-size: small;
	font-style: italic;
	color: red;
	float: right;
	display: block;
}

.no-border {
	border: 0;
}

.underscore {
	border-bottom: 1px solid #e9e9e9;
}

.panel {
	padding: 10px;
}

.story-body {
	word-wrap: break-word;
}

#topNav.affix {
	position: fixed;
	top: 0;
	z-index: 9999;
}

.story-list {
	border: 0;
}

body {
	padding-top: 60px;
	background-color: #F8F8F8;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear {
	clear: both;
}

.list-group-item:hover {
	background-color: #F8F8F8;
}

.filter-item:hover {
	background-color: #F8F8F8;
	cursor: pointer;
}

.filter-item {
	margin: 0;
}

.story-filter-toggle { /* 	font-family: CoAuthorTitle; */
    padding-left: 15px;
} 

.dropdown-menu {
	min-width: 0px;
}

.panel-group {
	margin-bottom: 5px;
}

.filter-row {
	margin-bottom: 5px;
}

.no-padding {
	padding: 0;
}

.col-md-6 {
	padding: 0;
}

.container {
	width: 900px;
}