.center {
	display: table;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.pointer {
	cursor: pointer;
}

.title {
/* 	font-family: CoAuthorTitle; */
	font-family: Times New Roman;
	font-style: italic;
	font-size: xx-large;
}

@font-face {
	font-family: 'CoAuthorTitle';
/* 	src: url('Dion.ttf') format('truetype'); */
}

.input-title[class*="input-title"] {
	width: 400px;
}

.input-entry[class*="input-entry"] {
	width: 500px;
}

.input-entry[class*="input-entry"], .input-title[class*="input-title"] {
	border: 0;
}

.modal-content {
	background-color: rgba(255,255,255,255);
}

.char-remaining {
	font-size: small;
	font-style: italic;
	color: red;
	float: right;
	display: block; 
}

.no-border {
	border: 0;
}