<div class="container">
    <div class="center">
        <h1 class="title">CoAuthor</h1>
    </div>

	<nav
		class="navbar navbar-default"
		role="navigation">
		<div class="container">
			<ul class="nav navbar-nav">
				<li>
					<div class="btn-group navbar-btn">
						<button
						     ng-click="loadNewStorySchema();"
							class="btn btn-success"
							data-toggle="modal"
							data-target="#newStoryModal">New Story</button>
					</div>
			</ul>
		</div>
	</nav>
	<div class="row">
		<div class="col-md-3">
			<div
				class="panel-group"
				id="accordion">
				<div
					class="panel panel-default pointer"
					data-toggle="collapse"
					data-parent="#accordion"
					href="#collapseOne">
					<div class="panel-heading">
						<h4 class="text-center panel-title">My Stories</h4>
					</div>
					<div
						id="collapseOne"
						class="panel-collapse collapse in">
						<div class="panel-body">sfasdf</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div>Public stories</div>
		</div>
		<div class="col-md-3">
			<div>My Favorites</div>
		</div>
	</div>

	<div
		id="newStoryModal"
		class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button
						type="button"
						class="close"
						data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title center">New Story</h4>
				</div>
				<div class="modal-body">
					<p>One fine body&hellip;</p>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-default"
						data-dismiss="modal">Close</button>
					<button
						type="button"
						class="btn btn-primary">Save changes</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</div>