<div class="container">
	<div class="center">
		<h1 class="title">CoAuthor</h1>
	</div>

	<nav
		class="navbar navbar-default no-border"
		role="navigation">
		<div class="container">
			<ul class="nav navbar-nav">
				<li>
					<div class="btn-group navbar-btn">
						<button
							ng-click="loadNewStorySchema();"
							class="btn btn-primary"
							data-toggle="modal"
							data-target="#newStoryModal">New Story</button>
					</div>
			</ul>
		</div>
	</nav>
	<div class="row">
		<div
			class="col-md-3"
			ng-hide="!loggedIn">
			<div
				class="panel-group"
				id="accordion">
				<div
					class="panel panel-default pointer"
					data-toggle="collapse"
					data-parent="#accordion"
					href="#collapseOne">
					<div class="panel-heading">
						<h4 class="text-center panel-title">My Stories</h4>
					</div>
					<div
						id="collapseOne"
						class="panel-collapse collapse in">
						<div class="panel-body">sfasdf</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-class="getPublicStoryClass()">
			<div class="center">
				<div
					class="panel-group"
					id="accordion">
					<div
						class="panel panel-default pointer"
						data-toggle="collapse"
						data-parent="#accordion"
						href="#collapseOne">
						<div class="panel-heading">
							<h4 class="text-center panel-title"></h4>
						</div>
						<div
							id="collapseOne"
							class="panel-collapse collapse in">
							<div class="panel-body">sfasdf</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="col-md-3"
			ng-hide="!loggedIn">
			<div class="center">My Favorites</div>
		</div>
	</div>

	<div
		id="newStoryModal"
		class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="newStoryForm">
					<div class="modal-header">
						<button
							type="button"
							class="close"
							data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<ng-form
							class="center"
							name="newStoryTitleNgForm"> <input
							data-toggle="tooltip"
							data-placement="left"
							title="You can change this later."
							class="input-title form-control text-center tooltips"
							ng-model="storyForCreateModel['title']"
							ng-required="storySchemaForCreate['title'].required"
							placeholder="{{storySchemaForCreate['title'].hintText}}" /> </ng-form>
					</div>

					<div class="modal-body">
						<div>
							<ng-form
								class="center"
								name="newStoryEntryNgForm"> <textarea
								id="newStoryTextarea"
								ng-model="storyForCreateModel['entry']"
								ng-required="storySchemaForCreate['entry'].required"
								ng-maxlength="{{storySchemaForCreate['entry'].maxLength}}"
								placeholder="{{storySchemaForCreate['entry'].hintText}}"
								class="form-control input-entry tooltips"
								rows="3"></textarea>
							<div
								id="newStoryCharsRemaining"
								class="char-remaining"></div>
							</ng-form>

						</div>
					</div>
				</form>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-default"
						data-dismiss="modal">Close</button>
					<button
						ng-disabled="newStoryForm.$invalid"
						ng-click="createStory();"
						type="button"
						class="btn btn-primary">Create!</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</div>


<!-- <div -->
<!-- 	ng-switch-when="selection" -->
<!-- 	class="btn-group btn-group-sm"> -->
<!-- 	<button -->
<!-- 		data-toggle="dropdown" -->
<!-- 		style="width: 575px" -->
<!-- 		type="button" -->
<!-- 		class="btn btn-default" -->
<!-- 		ng-model="metadataCreationModel[displayField.key]" -->
<!-- 		ng-required="metadataSchema[displayField.key].required">&nbsp{{getSelectionDisplay(metadataCreationModel[displayField.key], -->
<!-- 		metadataSchema[displayField.key].selectOptions)}}</button> -->
<!-- 	<button -->
<!-- 		type="button" -->
<!-- 		class="btn btn-default dropdown-toggle" -->
<!-- 		data-toggle="dropdown"> -->
<!-- 		<span class="caret"></span> -->
<!-- 	</button> -->
<!-- 	<ul -->
<!-- 		class="dropdown-menu" -->
<!-- 		role="menu" -->
<!-- 		style="max-height: 300px; overflow-y: auto; overflow-x: hidden"> -->
<!-- 		<li -->
<!-- 			style="width: 600px; text-align: center" -->
<!-- 			ng-repeat="option in metadataSchema[displayField.key].selectOptions | orderBy:'displayValue'"><a -->
<!-- 			ng-click="setSelection(option, displayField.key, metadataCreationModel)">{{option.displayValue}}</a></li> -->
<!-- 	</ul> -->
<!-- </div> -->